*
!*.*

# LaTeX
*.log
*.synctex.gz
*.aux
*.toc
*.out

# System
Thumbs.db
desktop.ini
.DS_Store

# Compilation and tests output
*.o
*.output
*.errors
*.result
*.bin
pintos/pintos-env/pintos/*/build/
bochsout.txt
bochsrc.txt
pintos/.vagrant/*
*.d
*.a

# IDEs
.vscode
.idea
